background
borders
easy read font
body{
    background-color: honeydew; 
    #projects, #exp{
    font-family: "Arbutus Slab", serif;
    font-weight: 400;
    font-style: normal;
    padding: 10px;
    border-radius: 10%;
}
.table{
    border-style: groove;
    border-color: black;
    border-radius: 5%;
    display: grid, center;
    grid-gap: 20px;
}
.card{
    border-style: groove;
    border-color: black;
    border-radius: 5%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
}

.card:hover {
    transform: scale(1.02);
  }
  
.card-img-top{
    height: 45px;
    width: 45px;
}
#footer{
    background-color: grey;
    border-radius: 3%;
}
}