.section{
    display: flex;
    flex-direction: center;
    align-items: center;
    margin: auto;
    padding: auto;
}
.table{
    border-style: groove;
    border-color: black;
    border-radius: 5%;
    display: grid;
    grid-gap: 20px;
    flex-direction: center;
    align-items: center;
}
.card{
    background-color: green;
    border-style: groove;
    border-color: black;
    border-radius: 5%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
}
.card-body{
    display: flex;
    flex-direction: center;
    align-items: center;
    padding: auto;
    margin: auto;
}
.card-img-top{
    display: flex;
    flex-direction: center;
    align-items: center;
    padding: auto;
    margin: auto;
    height: 90px;
    width: 90px;
}

footer{
    background-color: grey;
    border-radius: 3%;
}